{%extends "::base.html.twig"%}

{%block title%}
{{parent()}}
{%endblock%}

{%block body%}
<div class="container-narrow container margin-container-top">
    {%block enquetes_n3 %}{%endblock%}
</div>
{%endblock%}