
{%extends "EnquetesMainBundle::layout.html.twig"%}

{%block enquetes_n3 %}

{%if enquete is defined %}
<h1>{{enquete.titre}}</h1>
{%endif%}
<div class="bs-example">
      <nav role="navigation" class="navbar navbar-default">
        
        <div class="bs-example">
      <div class="btn-group">
        
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-default dropdown-toggle btn btn-primary" type="button" id="btnGroupDrop1">
              
              <a href="#" class="navbar-brand" style="color: #FFF;">Votre compte</a>
            <span class="caret"></span>
            
          </button>
          <ul aria-labelledby="btnGroupDrop1" role="menu" class="dropdown-menu">
            <li><a href="#">Modifier</a></li>
            <li><a href="#">Supprimer</a></li>
          </ul>
        </div>
      </div>
    </div>

      </nav>
        <h2>Créez votre enquête</h2>
        <hr/>
    </div> 
<div class="well">

  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
      <br/>
    <input type="submit" class="btn btn-primary" />
  </form>
</div>

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le site jquery.com,
   mais si vous l'avez en local, changez simplement l'adresse. #}

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
    
$(document).ready(function() {
  // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
  var $container = $('div#enquetes_mainbundle_enquete_question');
  
  // Ajout de la classe .form-group row aux div enfants direct de #enquetes_mainbundle_enquete
  var $contentElements = $('div#enquetes_mainbundle_enquete > div');
  $($contentElements).addClass('form-group row');
  
  //Ajout de la classe des labels
  var $labelElements = $('div#enquetes_mainbundle_enquete > div > label');
  $($labelElements).addClass('col-sm-2 control-label');
  
  //Ajout de la div .form-group puis déplacement des input dans cette div
  $('<div />').attr({class:"col-xs-5"}).appendTo('.form-group');
  var $divBrotherInput = $('div#enquetes_mainbundle_enquete > div > input').siblings('div');
  var $divBrotherTextarea = $('div#enquetes_mainbundle_enquete > div > textarea').siblings('div');
  var $divBrotherSelect = $('div#enquetes_mainbundle_enquete > div > select').siblings('div');
  $("div#enquetes_mainbundle_enquete > div > textarea").appendTo($divBrotherTextarea);
  $("div#enquetes_mainbundle_enquete > div > input").appendTo($divBrotherInput);
  $("div#enquetes_mainbundle_enquete > div > select").appendTo($divBrotherSelect);

  // On ajoute un lien pour ajouter une nouvelle catégorie
  var $lienAjout = $('<a href="#" id="ajout_categorie" class="btn">[+] Ajouter une question</a><hr/>');
  $container.append($lienAjout);

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) {
    ajouterCategorie($container);
    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    return false;
  });

  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) {
    ajouterCategorie($container);
  } else {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() {
      ajouterLienSuppression($(this));
    });
  }
  
  

  {function ajouterCategorie($container) {
    // Dans le contenu de l'attribut « data-prototype », on remplace :
    // - le texte "__name__label__" qu'il contient par le label du champ
    // - le texte "__name__" qu'il contient par le numéro du champ
    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Question n°' + (index+1))
                                                        .replace(/__name__/g, index));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }}

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }
});
</script>

{%endblock%}