{%extends "EnquetesMainBundle::layout.html.twig"%}



{%block enquetes_n3 %}
<select>
   {%for enquete in enquetes%}
                    <option value ={{enquete.enqueteId}}>{{enquete.titre}}</option>
     {%endfor%}  
</select>
{%endblock%}
