{%extends "EnquetesMainBundle::layout.html.twig"%}



{%block enquetes_n3 %}


 


   {%for enquete in enquetes%}
      </a>   <a href="{{path('enquetes_main_rechercherRep',{'id':enquete.enqueteid} )}}">  {{enquete.titre}} </a><br/>
               {%endfor%}  
 <script type="text/javascript">
       $("#form1").submit(function(){   
          
                    
                          //  On recupère en 1er l identifiant de la ligne selectionnée
                            var $id =this.selectedIndex.valueOf();
                            // On recupere la value correspondant à cet identifiant
                             var $Enq_id= this.options[$id].value;
       });

                          
 </script>                        
{%endblock%}
