{%extends "EnquetesMainBundle::layout.html.twig"%}



{%block enquetes_n3 %}

<div class="bs-example">
      
        <h2>Liste des enquêtes</h2>
        <hr/>
    </div> 
 

    <table class='table table-striped'>
        <tbody>
   {%for enquete in enquetes%}
            <tr>
                <td>
      <a href="{{path('enquetes_main_rechercherRep',{'id':enquete.enqueteid} )}}">  {{enquete.titre}} </a>
      </td>
      </tr>
   {%endfor%}
      </tbody>
    </table>
 <script type="text/javascript">
       $("#form1").submit(function(){   
          
                    
                          //  On recupère en 1er l identifiant de la ligne selectionnée
                            var $id =this.selectedIndex.valueOf();
                            // On recupere la value correspondant à cet identifiant
                             var $Enq_id= this.options[$id].value;
       });

                          
 </script>                        
{%endblock%}
