{%extends "EnquetesMainBundle::layout.html.twig"%}

{%block enquetes_n3 %}

{%for enquete in Enquetes%}
  <div class="col-lg-4">
     <div class="thumbnail">
        <p><strong>{{enquete.titre}}</strong></p>
        <p>{{enquete.theme.libelle}}</p>
     </div>
    </div>
  </div>
{%endfor%}

{%endblock%}
  
  <div class="bs-example">
      <nav role="navigation" class="navbar navbar-default">
        
        <div class="bs-example">
      <div class="btn-group">
        
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-default dropdown-toggle btn btn-primary" type="button" id="btnGroupDrop1">
              
              <a href="#" class="navbar-brand" style="color: #FFF;">Votre compte</a>
            <span class="caret"></span>
            
          </button>
          <ul aria-labelledby="btnGroupDrop1" role="menu" class="dropdown-menu">
            <li><a href="#">Modifier</a></li>
            <li><a href="#">Supprimer</a></li>
          </ul>
        </div>
      </div>
    </div>

      </nav>
    </div>
    
    <div class="bs-example">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            
            <div class="row show-grid">
                <div class="col-md-6">
                    <h3 style="margin-top:3px;">Liste des enquêtes</h3>
                </div>   
                <div class="col-md-3"></div>
            
            
            <div class="btn-group col-md-2">
                
                
                    <button data-toggle="dropdown" type="button" class="btn btn-default btn-sm dropdown-toggle">
                      Trier par thème <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                
            </div>
            </div>
            
        </div>
            

        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Résumé</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td valign="middle">Le Lorem Ipsum</td>
              <td>est simplement du faux texte employé dans la composition et la mise en page avant impression.</td>
              <td>
                  
                  <div class="bs-example">
                    <div style="margin: 9px 0 5px;" class="btn-group btn-group-xs">
                      <button class="btn btn-default" type="button">Voir</button>
                      <button class="btn btn-default" type="button">Modifier</button>
                      <button class="btn btn-default" type="button">Supprimer</button>
                    </div>
                  </div>
                  
              </td>
            </tr>
            <tr>
              <td>Le Lorem Ipsum</td>
              <td>est simplement du faux texte employé dans la composition et la mise en page avant impression.</td>
              <td>
                  
                  <div style="margin: 9px 0 5px;" class="btn-group btn-group-xs">
                      <button class="btn btn-default" type="button">Voir</button>
                      <button class="btn btn-default" type="button">Modifier</button>
                      <button class="btn btn-default" type="button">Supprimer</button>
                    </div>
                  
              </td>
            </tr>
            <tr>
              <td>Le Lorem Ipsum</td>
              <td>est simplement du faux texte employé dans la composition et la mise en page avant impression.</td>
              <td>
                  <div style="margin: 9px 0 5px;" class="btn-group btn-group-xs">
                      <button class="btn btn-default" type="button">Voir</button>
                      <button class="btn btn-default" type="button">Modifier</button>
                      <button class="btn btn-default" type="button">Supprimer</button>
                    </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>